.inner-container {
    width: 1040px;
    margin: 0 auto;
    position: relative;
}

body {
    background-color: white;
    overflow-x: hidden;
}

header {
    height: 100px;
    width: auto;
    background-color: white;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
}

header p {
    font-size: 40px;
    position: absolute;
    line-height: 50%;
    margin-left: 40px;
}

header nav {
    font-size: 20px;
    color: black;
    position: absolute;
    left: 180px;
    line-height: 500%;
}

header nav a {
    margin: 0 10px;
}

.mainimg .mainimg {
    width: 100vw;
    position: relative;
    top: -100px;
    z-index: -1;
}

.title {
    color: white;
    margin-left: 1200px;
    margin-top: -850px;
}

.text1 {
    font-size: 70px;
}

.text2 {
    font-size: 20px;
}

.mainslide {
    width: 720px;
    height: 520px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.buttons img {
    position: absolute;
    top: 70%;
    margin-top: -10px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    z-index: 3;
}

.btnp {
    height: 60px;
    width: 60px;
    position: absolute;
    opacity: 0.75;
    left: 0;
}

.btnn {
    height: 60px;
    width: 60px;
    position: absolute;
    opacity: 0.75;
    right: 0;
}

.kontainer {
    width: 2160px;
    transform: translate(0px);
    transition: transform 0.5s;
    margin: 40px 0;
}

.inner {
    height: 474px;
    width: 714px;
    border: solid 3px #0f4c81;
    border-radius: 7%;
    float: left;
    background-color: black;
    position: relative;
}

.inner .list {
    width: 350px;
    position: relative;
    color: white;
    top: 40px;
    left: 370px;
}

.inner img {
    height: 474px;
    width: 357px;
    float: left;
    border-radius: 8% 0 0 8%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.inner strong {
    font-size: 40px;
    font-weight: lighter;
}

.inner .inform {
    font-weight: lighter;
}

#container {
    height: 750px;
    width: 1040px;
}

#container .box {
    height: 750px;
    width: 333px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    float: left;
    background: black;
    background: linear-gradient(-45deg, transparent 15px, black 0);
}

#container .box .img {
    height: 500px;
    width: 333px;
}

#container .box .yginfo {
    height: 250px;
    width: 333px;
    background: skyblue;
    background: linear-gradient(-45deg, transparent 15px, skyblue 0);
    position: relative;
    z-index: 2;
    position: relative;
    top: 500px;
}

div.box.common {
    margin-right: 20px;
}

.ms {
    font-size: 30px;
    padding: 0 0 20px 10px;
    border-bottom: solid 1px black;
}

#box {
    height: 20px;
    background-color: white;
}

.msbox1 {
    height: 360px;
    position: relative;
}

.msbox2 {
    height: 360px;
    position: relative;
}

.msbox3 {
    height: 360px;
    position: relative;
}

.mslist {
    height: 540px;
    margin: 0;
}

.마로니에,
.낙산,
.이화 {
    width: 150px;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: #0f4c81;
    opacity: 0.7;
    padding: 20px;
    position: absolute;
    top: 0px;
    left: 850px;
}

.msimg img {
    height: 360px;
    width: 1040px;
    position: relative;
}

.msinfo {
    height: 139px;
    width: 1040px;
    padding: 10px 20px;
    border-bottom: solid 1px #dcdcdc;
}

footer {
    background-color: #5abeff;
    color: black;
    font-size: 12px;
    text-align: center;
    line-height: 150%;
    padding: 10px 0;
    z-index: 2;
}
body{
    max-width: none;
    margin: auto 0;
}
.sajin img {
    margin: 0 10px;
}

.sajin {
    margin-top: 50px;
    text-align: left;
    width: 100%;

}

header {
    position: relative;
}

.top-menu {
    margin-left: 20px;
    
    height: 20px;
}

.a1:hover {
    color: red;
}
.a1 {
    color: black;
    text-decoration: none;
    font-family: Noto Sans KR;
    font-weight: 100;
    line-height: 20px;

}

.a2 {
    color: black;
    text-decoration: none;
    font-family: Noto Sans KR;
    font-weight: 100;
    line-height: 20px;
}


.title-bar {
    width: 100%;
    height: 70px;
    background-color: rgb(0, 117, 186);
    /*border: 20px solid rgb(255, 0, 0);*/
    text-align: center;
    color: white;
    margin-top: 30px; 
}

.title-bar h1 {
    font-family: Noto Sans KR;
    line-height: 70px;
    font-weight: 900;
}

.box-line {
    margin-top: 5px;
    width: 100%;
    height: 5px;
    background-color: rgb(1, 78, 128);
}

.box-tag {
    position: absolute;
    width: 40px;
    height: 100px;
    top: 70px;
    left: 25px;
    opacity: 0.8;
    background-color: rgb(254, 141, 197);
}

.contentLayer-tag {
    position: absolute;
    width: 300px;
    top: 430px;
    height: 480px;
    left: 610px;
    opacity: 0.73;
    background-color: rgb(0, 117, 186);
    margin-right: 20px;
}

.contentLayer-text {
    position: absolute;
    width: 280px;
    top: 420px;
    height: 0px;
    left: 620px;
    color: white;
    font-family: Noto Sans KR;
}
.contentLayer-text h4{
    font-weight: 100;
}
.contentLayer-text h3{
    position: relative;
    top: 7px;
}
.contentLayer-title {
    border-radius: 7.5px;
    margin-top: 15px;
    width: 180px;
    height: 45px;
    text-align: center;
    background-color: rgb(255, 144, 4);
    font-family: Noto Sans KR;
    font-weight: 300;
}
.contentLayer-title h4{
    line-height: 30px;
    font-weight: 400;
}

.logo-img{
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

