.inner-container {
    width: 1040px;
    margin: 0 auto;
    position: relative;
}

body {
    background-color: white;
    overflow-x: hidden;
}

header {
    height: 100px;
    width: auto;
    background-color: white;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
}

header p {
    font-size: 40px;
    position: absolute;
    line-height: 50%;
    margin-left: 40px;
}

header nav {
    font-size: 20px;
    color: black;
    position: absolute;
    left: 180px;
    line-height: 500%;
}

header nav a {
    margin: 0 10px;
}

.mainimg .mainimg {
    width: 100vw;
    position: relative;
    top: -100px;
    z-index: -1;
}

.title {
    color: white;
    position: relative;
    left: 1200px;
    bottom: 850px;
}

.text1 {
    font-size: 70px;
}

.text2 {
    font-size: 20px;
}

.mainslide {
    width: 720px;
    height: 520px;
    overflow: hidden;
    position: absolute;
    top: 360px;
    left: 500px;
}

.buttons img {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    z-index: 3;
}

.btnp {
    height: 60px;
    width: 60px;
    position: absolute;
    opacity: 0.75;
    left: 0;
}

.btnn {
    height: 60px;
    width: 60px;
    position: absolute;
    opacity: 0.75;
    right: 0;
}

.kontainer {
    width: 2160px;
    transform: translate(0px);
    transition: transform 0.5s;
    margin: 40px 0;
}

.inner {
    height: 474px;
    width: 714px;
    border: solid 3px #0f4c81;
    border-radius: 7%;
    float: left;
    background-color: black;
    position: relative;
}

.inner .list {
    width: 350px;
    position: relative;
    color: white;
    top: 40px;
    left: 370px;
}

.inner img {
    height: 474px;
    width: 357px;
    float: left;
    border-radius: 8% 0 0 8%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.inner strong {
    font-size: 40px;
    font-weight: lighter;
}

.inner .inform {
    font-weight: lighter;
}


/* #container {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 15px;
}

.box {
    height: auto;
    width: 346px;
    margin: 10px;
    flex-grow: 1;
}

.common {
    border-right: solid 1px gray;
} */

#명소 {
    max-height: 1320px;
}

.ms {
    font-size: 30px;
    padding: 0 0 20px 10px;
    border-bottom: solid 1px black;
}

#box {
    height: 20px;
    background-color: white;
}

.msbox {
    height: 360px;
    position: relative;
}

.mslist {
    height: 180px;
    margin: 0;
}

.마로니에,
.낙산,
.이화 {
    width: 150px;
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: #0f4c81;
    opacity: 0.7;
    padding: 20px;
    position: absolute;
    top: 0px;
    left: 850px;
}

.msimg img {
    height: 360px;
    width: 1040px;
    position: relative;
}

.msinfo {
    height: 139px;
    width: 1040px;
    padding: 10px 20px;
    border-bottom: solid 1px #dcdcdc;
}

footer {
    background-color: #5abeff;
    color: black;
    font-size: 12px;
    text-align: center;
    line-height: 150%;
    padding: 10px 0;
    z-index: 2;
}