#title{
    background-color: #5abeff;
    padding: 40px;
    font-size: 40px;
    text-align: center;
    color: white;
}
#text{
    padding: 30px;
    text-align: center;
    font-size: 20px;
}
#main{
    padding: 50px;
    padding-top: 100px;
    border: 2px solid rgb(17, 17, 94);

}
#maintitle{
    background-color: #0064CD;
    padding: 20px;
    
    text-align: center;
    color: white;
    font-size: 20px;
}
#maintext{
    position: relative;
    left: 60%;
    bottom: 400px;
    font-size: 40px;
    
}
#mainpoto{
    margin-top:100px ;
}
#low{
    padding: 50px;
}
#lowtitle{
    background-color: #5abeff;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}
#lowtext{
    display: flex;
    position: relative;
    left: 20%;
    font-size: 20px;
    
    
}
#lowtext1{
    padding: 30px;
    width: 200px;

}
#lowtext2{
    padding: 30px;
    width: 200px;
   

}
#lowtext3{
    padding: 30px;
    width: 200px;

}
.제목 {
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
main .inner-container {
    width: 100%;
    background-color: #0064CD;
    height: 750px;
}
.배경 {
    display: flex;
    flex-wrap: wrap;
}
footer {
    background-color: #1E82CD;
    text-align: center;
    padding: 30px;
}
.name {
    text-align: center;
    position: relative;
    top: 15px;
    right: 40px;
    color: white;
}
.img1 {
    padding-left: 30px;
    padding-right: 20px;
}
.img1,.img2,.img3,.img4 {
    padding-right: 20px;
    flex-basis: 20%;
    position: relative;
    top: 100px;
    left: 150px;
}
.배경 img {
    border-radius: 100%;
    overflow: hidden;
}
.image12 {
    position: relative;
    left: 350px;
    bottom: 270px;
}
.name1 {
    position: relative;
    left: 460px;
    bottom: 260px;
}
.image11 {
    position: relative;
    left: 350px;
}
.name11 {
    position: relative;
    left: 460px;
    top: 130px;
    color: white;
}
.image12 {
    position: relative;
    left: 450px;
}
.name12 {
    position: relative;
    left: 560px;

}
.image13 {
    position: relative;
    left: 710px;
    bottom: 120px;
}
.name13{
    position: relative;
    left: 800px;
    bottom: 97px;
    color: white;
}
.image11,.image12{
    padding-left: 160px;
    padding-top: 50px;
    position: relative;
    left: 200px;
    top: 120px;
}
.name11,.name12 {
    position: relative;
    top: 130px;
    left: 283px;
    color: white;
    padding-top: 15px;
    padding-left: 160px;
}


