
.제목 {
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    padding-top: 80px;
}
main .inner-container {
    width: 100%;
    background-color: rgb(249, 228, 189);
    height: 750px;
}
.배경 {
    display: flex;
    flex-wrap: wrap;
}
footer {
    background-color: rgb(129, 172, 247);
    text-align: center;
    padding: 30px;
}
.name {
    text-align: center;
    position: relative;
    top: 15px;
    right: 40px;
    color: black;
}
.img1 {
    padding-left: 30px;
    padding-right: 20px;
}
.img1,.img2,.img3,.img4 {
    padding-right: 20px;
    flex-basis: 20%;
    position: relative;
    top: 100px;
    left: 150px;
}
.배경 img {
    border-radius: 100%;
    overflow: hidden;
}
.image12 {
    position: relative;
    left: 350px;
    bottom: 270px;
}
.name1 {
    position: relative;
    left: 460px;
    bottom: 260px;
}
.image11 {
    position: relative;
    left: 350px;
}
.name11 {
    position: relative;
    left: 460px;
    top: 130px;
    color: black;
}
.image12 {
    position: relative;
    left: 450px;
}
.name12 {
    position: relative;
    left: 560px;

}
.image13 {
    position: relative;
    left: 710px;
    bottom: 120px;
}
.name13{
    position: relative;
    left: 810px;
    bottom: 97px;
    color: black;
}
.image11,.image12{
    padding-left: 160px;
    padding-top: 50px;
    position: relative;
    left: 200px;
    top: 120px;
}
.name11,.name12 {
    position: relative;
    top: 130px;
    left: 283px;
    color: black;
    padding-top: 15px;
    padding-left: 160px;
}


